body {
    position: relative;
    background: #efefee;
    min-height: 45rem;
    padding-bottom: 80px;
}

html {height:100%}

/* NAVIGATION */

.navbar-bg {
    background: url('../images/dark-abstract-pattern3.jpg');
    background-size: 20%;
    background-position-y: -30px;
}

.dropdown-menu, .dropdown-menu.show {
    right: 0;
}

.space-brand {
    color: #fff;
    font-weight: bold;
}

.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}


/* LOGIN REGISTRATION */

.form-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.inactive {
    border-color: lightgray lightgray lightgray;
    background: darkgray;
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #efefee;
}

/* ADVERTISEMENT */

.ad-space {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid green;
}

.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}

.advertisement-text {
    font-weight: bold;
}

.quote-space {
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 5px solid hotpink;
}

/* ARTICLES */

.main-article {
    border: 2px solid #efefee;
    Background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-article img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    padding: 20px;
}

.article-container {
    padding: 30px 20px;
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f1f2f3;
}

.main-article-link, .article-container a {
    text-decoration: none;
    color: #000;
}

.main-article-link:hover {
    text-decoration: none;
    color: #000;
}

.article-title {
    min-width: 300px;

}

@media (max-width: 440px) {
    .article-title {
        min-width: 100px;
        max-width: 245px;
    }
}

.article-img {
    height: 200px;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.article-details {
    font-size: .8em;
}

/* PROFILE */

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

.my-article-container {
    background: #FFBC49;
    border: solid 1px #efefee;
    border-radius: 5px;
}


/* CREATE ARTICLE */

.create-article-container {
    min-width: 400px;
    background-color: lightblue;
    border-radius: 5px;
}

/* ARTICLE SHOW PAGE */

.show-article-container {
    width: 100%;
    background-color: #fff;
}

.show-article-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.show-article-title {
    font-size: 2em;
}

.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 991px) {
    .show-article-title {
        font-size: 1.5em;
    }

    .show-article-title-container {
        max-width: 220px;
    }
}

.article-text {
    margin-top: 20px;
}

.share-icons i {
    font-size: 1.5em;
}

.comment-img {
    width: 50px;
    height: auto;
    border: 1px solid darkgray;
}

.commenter-name {
    font-weight: bold;
}

.comment-form {
    min-width: 500px;
}

@media (max-width: 767px) {
    .comment-form {
        min-width: 260px;
    }
}



/* FOOTER */

.footer {
    background: url('../images/dark-abstract-pattern3.jpg');
    background-size: 20%;
    background-position-y: -30px;
    padding: 0 15%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    margin-top: 10px;
}

.author {
    width: 95%;
    color: #ffffff!important;
    text-align: right!important;
    margin-right: 30px;
}

/* Pagination css   added from builded scss */

.pagination{display:inline-block;padding-left:0;margin:21px 0;border-radius:4px}
.pagination>li{display:inline}.pagination>li>a,
                              .pagination>li>span{position:relative;float:left;padding:10px 15px;margin-left:-1px;line-height:1.42857;color:#fff;text-decoration:none;background-color:#5784BC;border:1px solid transparent}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{z-index:2;color:#fff;background-color:#2E4278;border-color:transparent}
.pagination>li:first-child>a,
.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.
                                                                                                       pagination>li:last-child>a,
                                                                                                       .pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,
                                                                                                                                                                                                 .pagination>.active>span,.pagination>.active>span:focus,
                                                                                                                                                                                                 .pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#2E4278;border-color:transparent}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{color:#ecf0f1;cursor:not-allowed;background-color: #78a1bc;border-color:transparent}  .pagination-lg>li>a,
                                                                                                                    .pagination-lg>li>span{padding:18px 27px;font-size:19px;line-height:1.33333}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,
.pagination-sm>li>span{padding:6px 9px;font-size:13px;line-height:1.5}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}.pager{padding-left:0;margin:21px 0;text-align:center;list-style:none}
.pager:after,
.pager:before{display:table;content:" "}
.pager:after{clear:both}
.pager li{display:inline}
.pager li>a,
.pager li>span{display:inline-block;padding:5px 14px;background-color:#5784BC;border:1px solid transparent;border-radius:15px}.pager li>a:focus,
                                                                                                                              .pager li>a:hover{text-decoration:none;background-color:#2E4278}
.pager .next>a,
.pager .next>span{float:right}.pager .previous>a,
                              .pager .previous>span{float:left}
.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span{color:#fff;cursor:not-allowed;background-color:#5784BC}


.category-table {
    background-color: #cccccc;
    width: 70%;
}
/*.category-table tr {*/
    /*padding: 5px 30px;*/
/*}*/
.category-table td {
    border: #222222 1px solid;
    padding: 10px 30px;
}
.category-table a {
    color: #222222;
}
.right {
    text-align: right;
    margin-left: auto!important;
}
.comment-body {
    padding: 5px 10px;
    min-height: 100px;
    background-color: #dddddd;
    border: #222222 1px solid;
    border-radius: 5px;
    resize: none;
}
.comment-bg {
    padding: 5px 10px;
    background-color: #dddddd;
    border: #222222 1px solid;
    border-radius: 5px;
}
.comment-title {
    width: 500px!important;
    padding: 5px 10px;
    background-color: #dddddd;
    border: #222222 1px solid;
    border-radius: 5px;
}
.comment-edit{
    width: 70px;
    padding-left: 40px!important;
    padding-top: 15px;
    color: #222222;
}
.comment-delete{
    padding-left: 10px!important;
    padding-top: 15px;
    color: #222222;
}
.comments {
    margin:15px 30px;
}
.content {
    background-color: #CCCCCC;
    border: #222222 2px solid;
    padding: 20px;
    margin-bottom: 20px;
}
.spacer {
    margin-top: 15px;
}
.spacer img {
    width: 100px;
    height: 100px;
}
.article{
    border-radius: 15px;
}

.hidden-comment-form {
    margin-top: 10px;
    display: none;
}
