{% extends 'base.html.twig' %}

{% block title %}Create New Article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Write a new Article</h1>
                {{ form(article_form) }}
            </div>
        </div>
    </div>
{% endblock %}