{% extends 'base.html.twig' %}

{% block title %}Category list{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <h2>No articles found!</h2>
</div>
{% endblock %}